body {
    font-family: Helvetica Neue, arial, sans-serif;
    background: #273e49;
}

h1 {
    font-size: 22px;
    font-style: normal;
    color: white;
    margin-bottom: 0px;
    background: black;
    width: 900px;
    padding: 4px 8px;
}

h2 {
    margin: 0 0 0.3em;
    line-height: 1em;
    background: black;
    color: white;
    display: inline-block;
    border-radius: 2px;
    padding: 4px 8px;
    font-size: 1.2em;
    float: left;
}

h2:after {
    content: '';
    display:block;
    clear: both;
}

.oscillators h2 {
    color: #FDEFA7;
}

.filter h2 {
    color: pink;
}

.volume-filter h2 {
    color: #FF7C7C;
}

.lfo h2 {
    color: #A1E4A1;
}

.output h2 {
    color: #A5A5DA;
}


h3 {
    clear: both;
    margin: 0.2em 0;
}

label {
    display: block;
    clear: both;
    position: relative;
    top: 2px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 200px;
    height: 10px;
    background: white;
    border: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: black;
    width: 6px;
    height: 10px;
    opacity: 1;
}

select {
    background: url(toggle.png) no-repeat right center #fbefb3 ;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    padding: 0.5em 2.2em 0.5em 0.5em;
    float: left;
}

.left-half, .right-half {
    clear: both;
    width: 50%;
    float: left;
}

.right-half {
    clear: none;
}

.last:after {
    clear: both;
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}

.synth {
    width: 920px;
    margin: 0 auto;
}

.module {
    border: 4px solid #0C0C0C;
    padding: 1em;
}

#keyboard {
    border: 4px solid #0C0C0C;
    border-bottom-width: 3px;
    width: 908px;
    background: black;
}

.oscillators {
    width: 690px;
    background: #FFE976;
    border-radius: 2px 0 0 0;
    float: left;
}

.oscillators > div {
    float: left;
    width: 33%;
}

.oscillators > div.last {
    float: none;
    display: inline-block;
}

.filter {
    background: #DB9AB7;
    border-top: none;
    width: 425px;
    float: left;
}

.lfo {
    background: #89BD79; 
    border-radius: 0 2px 0 0;
    width: 150px;
    height: 170px;
    float: left;
    border-left: none;
}

.volume-filter {
    background: #E25D34; 
    width: 229px;
    float: left;
    border-width: 0 4px 4px 0;
}

.volume-filter input[type="range"] {
    background: #fe8864;
}

.filter input[type="range"] {
    background: #ecc5d6;
}

.output input[type="range"] {
    background: #49bce2;
    width: 145px;
}

.oscillators input[type="range"] {
    background: #fbefb3;
}

.lfo input[type="range"] {
    background: lightgreen;
    width: 145px;
}

.noise h2 {
    color: #A981C0;
}

.noise input[type="range"] {
    background-color: #A981C0;
    border-color: black;
    width: 145px;
}

.noise {
    background: #A25CA5;
    border-top: none;
    display: inline-block;
    width: 150px;
    height: 82px;
    border-left: none;
}

.output {
    background: #0099cc;
    border-top: none;
    display: inline-block;
    width: 150px;
    height: 82px;
    border-left: none;
    border-bottom: none;
}
